<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SunnyIbook</title>
</head>
<body>
	<a href="/watch?book_id=<%=book_id%>&chapter_id=<%=chapter_id%>"><%=book_name%></a>
</body>
</html>