<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>watch.ejs</title>
</head>
<body>
	<ul>
	  <% books.forEach(function(book){ %>
	    <li><%=book.subject%></li>
	  <% }) %>
	</ul>
</body>
</html>